* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

/***************************************************** Nav-Bar ****************************************************/

header {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar {
    height: 100%;
    width: 30vw;
}

.nav-bar ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-list li {
    color: #7D7D82;
}

.nav-bar-list li:hover {
    cursor: pointer;
    color: #2A2A2F;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(rgb(136, 245, 135), rgb(35, 179, 159));
    border-image-slice: 1;

}

.request-invite-btn {
    background-image: linear-gradient(to right, hsl(136, 65%, 52%), hsl(192, 70%, 52%));
    color: white;
    width: fit-content;
    border-radius: 35px;
    padding: 13px;
    font-weight: 600;
    cursor: pointer;
}

.close-btn-img {
    display: none;
}

#mobile-nav-bar {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#mobile-nav-bar svg {
    width: 10vw;
    height: 4vh;
    margin-right: 8vw;
    margin-top: 2.75vh;
}

.dropdown .close-btn-img {
    display: block;
}

.dropdown .hamburger-img {
    display: none;
}

.dropdown .mobile-navbar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    justify-content: space-evenly;
    background-color: #fff;
    box-shadow: 0vw 15vh 50vw hsl(0, 0%, 9%);
    text-decoration: none;
}

.mobile-navbar-list {
    display: none;
    position: absolute;
    padding: 0;
    top: 5em;
    left: 1.1em;
    right: 1.1em;
    margin: 0 auto;
    height: 39.5vh;
    width: 85vw;
    border-radius: 1vh;
    list-style: none;
}

.mobile-navbar-list li {
    margin-bottom: 1vh;
}

.mobile-navbar-list li:hover {
    margin-bottom: 1vh;
    color: rgb(50, 209, 110);
}

/*************************************** Main ***************************************/

main {
    height: 90vh;
    width: 100vw;
}

.top-section {
    height: 60vh;
    padding-left: 10vw;
    display: flex;
    justify-content: space-between;
}

.left-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.row-1 {
    height: 40vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    margin-top: 4vh;
    row-gap: 15px;
}

.row-1 h1 {
    font-size: 2.5vw;
    font-weight: 400;
}

#next-gen-info {
    color: #7D7D82;
}

p {
    opacity: 70%;
}

.right-div {
    height: 65vh;
    width: 50vw;
    background-image: url("./images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 110% 90%;
}

.right-div img {
    height: 100vh;
    width: 40vw;
    margin-left: 14vw;
    object-fit: cover;
    object-position: 0 -20vh;

}

.middle-section {
    background-color: #EEEEEE;
    height: 70vh;
    width: 100%;
    padding-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3vh;
}

.middle-section p {
    color: #7D7D82;
}

.middle-section .easy-bank-cards {
    display: flex;
    justify-content: flex-start;
    column-gap: 10vw;
    padding-top: 10px;
}

.middle-section .easy-bank-cards p {
    font-size: small;
}

.card-1,
.card-2,
.card-3,
.card-4 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.card-image {
    height: fit-content;
}

.bottom-section {
    height: 60vh;
    width: 100%;
    padding-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3vh;
}

.bottom-section .latest-article-card {
    display: flex;
    justify-content: flex-start;
    column-gap: 9vw;
    padding-top: 10px;
}

.article-writer {
    font-size: small;
    opacity: 50%;
}

.article-1,
.article-2,
.article-3,
.article-4 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.article-image img {
    height: 20vh;
    width: 14vw;
    border-radius: 10px 10px 0px 0px;
}

.article-heading {
    opacity: 60%;
}

.article-heading:hover {
    color: rgb(50, 209, 110);
    cursor: pointer;
    opacity: 70%;
}

.article-content {
    font-size: medium;
    opacity: 40%;
}

/****************************************** Footer ******************************************/

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    background-color: hsl(233, 26%, 24%);
}

.footer-left {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.social-media-icons {
    display: flex;
    column-gap: 1vw;
}

.social-media-icons svg path:hover {
    fill: rgb(50, 209, 110);
    cursor: pointer;
}

.footer-lists {
    color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 10vw;
    line-height: 4vh;
}

.footer-lists li:hover {
    color: rgb(50, 209, 110);
    cursor: pointer;
}

.footer-right {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.request-invite {
    align-self: flex-end;
}

#copyright {
    color: #7D7D82
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media screen and (max-width:375px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .nav-bar {
        display: none;
    }

    #nav-request-invite {
        display: none;
    }

    #easy-bank-logo {
        display: block;
    }

    #mobile-nav-bar {
        display: block;
    }

    main {
        height: auto;
        width: 100vw;
        display: flex;
        flex-direction: column;
        row-gap: 30vw;
    }

    .top-section {
        display: flex;
        flex-direction: column;
        padding: 0 1.5vw;
    }

    .left-div {
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .row-1 {
        display: none;
    }

    .row-1 {
        height: auto;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: start;
        margin-top: -4vh;
        row-gap: 15px;
    }

    .row-1 h1 {
        font-size: 10vw;
        font-weight: 400;
    }

    #next-gen-info {
        font-size: 0.8rem;
        text-align: center;
        color: #7D7D82;
        width: 83vw;
    }

    p {
        opacity: 70%;
    }


    .right-div {
        height: 46vh;
        width: 100vw;
        background-image: url("./images/bg-intro-mobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .right-div img {
        height: 50vh;
        width: 96vw;
        object-position: -1vw -14vh;
        margin-left: 0vw;
    }

    .middle-section {
        background-color: #EEEEEE;
        height: auto;
        width: 100vw;
        padding-left: 2vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 3vh;
    }

    .middle-section-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 3vh;
    }

    .middle-section h1 {
        width: 43vw;
    }

    .middle-section-content {
        font-size: 0.8rem;
        text-align: center;
        width: 83vw;
    }

    .middle-section p {
        color: #7D7D82;
    }

    .middle-section .easy-bank-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10vw;
        padding-top: 10px;
    }

    .middle-section .easy-bank-cards p {
        font-size: small;
    }

    .card-1,
    .card-2,
    .card-3,
    .card-4 {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }

    .card-1 p,
    .card-2 p,
    .card-3 p,
    .card-4 p {
        text-align: center;
    }

    .card-image {
        height: fit-content;
    }

    .bottom-section {
        margin-top: -10vh;
        height: auto;
        width: 100%;
        padding-left: 0vw;
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
    }

    .bottom-section-header {
        text-align: center;
    }

    .bottom-section .latest-article-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 9vw;
        padding-top: 10px;
    }

    .article-writer {
        text-align: center;
        font-size: small;
        opacity: 50%;
    }

    .article-1,
    .article-2,
    .article-3,
    .article-4 {
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .article-image img {
        border-radius: 0px;
        width: 80vw;
    }

    .article-heading {
        opacity: 60%;
    }

    .article-heading:hover {
        color: rgb(50, 209, 110);
        cursor: pointer;
        opacity: 70%;
    }

    .article-content {
        font-size: medium;
        opacity: 40%;
    }

    .footer {
        display: none;
    }

    .footer {
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: hsl(233, 26%, 24%);
        margin-top: 0;
        row-gap: 5vh;
        padding: 3vh 0;
    }


    .footer-left {
        display: flex;
        flex-direction: column;
    }


    .social-media-icons {
        display: flex;
        column-gap: 3vw;
    }

    .social-media-icons svg path:hover {
        fill: rgb(50, 209, 110);
        cursor: pointer;
    }


    .footer-lists {
        color: white;
        list-style: none;
        display: flex;
        flex-direction: column;
        line-height: 6.5vh;
        text-align: center;
    }

    .footer-lists li:hover {
        color: rgb(50, 209, 110);
        cursor: pointer;
    }


    .footer-right {
        display: flex;
        flex-direction: column;

    }

    .request-invite {
        align-self: center;
    }


}